h2 {
    text-align: center;
    color: #444;
}

p {
    text-align: center;
}

.btn {
    display: block;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #555;
}
